<!-- index.handlebars-->
<!------------------------------------------------------------------------------------->

<div style="text-align: center">
    <img class="img-burger" src="http://www.craftlakewood.com/images/slideshow/craft-slide.jpg" alt="">
</div>
<h1>Eat-Da-Burger</h1>

<div style="text-align:center">
    <table id="burger-list">
     </table>
    <table id="devoured-list">
       </table>
</div>

<div style="clear: left">
    <form>
    <div><textarea id="ta-burger-input" rows="4" cols="50"></textarea></div>
    <button id="btn-submit">Submit</button>
    </form>
    <div style="text-align: center"><label>Enter a burger you want to eat, Click the "Submit" button.</label></div>
</div>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script type = "text/javascript" src="/assets/js/app.js"></script>